<header>
    <img src="/assets/images/prometheus.jpg" alt="Prometheus">
</header>
<h1>
    Practical task on the Prometheus topic
</h1>

<h2>Some data:</h2>
<p>{name: <%= user.name.first %>, age: <%= user.age %>, species: <%= user.species %>}</p>
